@use '../CSS/font' as *;
@use '../CSS/color' as *;

*{
    margin: 0;
    
}
body{
    z-index: 0;
    position: relative;
    #logo{
        text-align: center;
        background-color: $shadow;
        width: 100%;
        padding-bottom: 0.5%;
    
    }
    .linetop{
        z-index: 2;
        margin: 0;
        position: absolute;
        padding: 0;
        margin-top: -0.5%;
        box-shadow: 0px -3px  5px $border;
        width: 100%;
    
    }
.navimgwrap{

   
    .navbarimg{
        position: absolute;
        z-index:1;
        width: 100%;
        
    }
}
nav{
    
    position: relative;
    
    margin-top: -0.5%;
    height: 100px;
    margin-left: 0%;
    width: 100%;
    z-index: 2;
    ul{
        display: flex;
        justify-content: center;
        padding-inline-start:0;
        li{
            list-style-type: none; 
            display: inline-block;
            margin-top: 1.5%;
            margin-left: 2%;
            margin-right: 2%;
            text-shadow: $shadow 2px 1px;
            background-color: rgba(32, 23, 9, 0.4) ;
            backdrop-filter: blur(1px);
            border-radius: 25px;
            width: 10%;
            text-align: center;
            opacity: 0.9;
            ul{
                display: none;
                position: absolute; 
                background-color: #302B28;
                width: 120%;
                border-radius: 30px;
                padding-top: 30px;
                padding-left: 3%;
                padding-right: 14%;
                padding-bottom: 3%;
                transition: 1s;
                margin-left: -21%;  
                box-shadow: 0 2px 5px 4px $title-color;
                z-index: -5;
                li{
                    width: 100%;
                    padding: 3%;
                    a{
                        text-decoration: none;
                        color: $title-color;
                        font-size: 20px;
                        font-family: 'Helvetica';
                    }
                    a:hover{
                        color: $title-color;
                    }
                }
                li:hover{
                    background-color: #3c3c3c;
                   }
            }   
            a{
                  text-decoration: none;
                  color: $title-color;
                  font-family: "Western" , sans-serif;
                  font-size: 40px;
                  text-shadow: 2px 2px 5px black;
                  transition: 0.5s;
                     } 
            a:hover{
                color: white;
            }         
          }
          li:hover ul{
            display: flex;
            flex-direction: column;
            z-index: 3;
            
        } 
            
    }
     }
    
    main {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../IMG/rustybackground.png);
        background-repeat: repeat-y;
        background-size: cover;
        z-index: -1;
        padding: 15% 0;
        margin-top: -5%;
        .button{
            position: absolute;
            display: flex;
            justify-content: center; 
            align-self: flex-start;
            width: 100%;
            z-index: 2;
            margin-top: -7.5%;
           
            img{
                display: flex;
                justify-content: center;
                position: relative;
            }
            a{
                position: absolute;
                text-align: center;
                text-decoration: none;
                color: $title-color;
                font-family: "Western" , sans-serif;
                font-size: 60px;
                padding: 0.7%;
            }
           
        }
    
    
       
        .container-01{  
           
            width: 100%;
            height: auto;
            box-sizing: $border;
            border-width: 1px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5%;
            
            .wrapper{
                width: 80%;
                background: linear-gradient(180deg, rgba(214,201,168,0.8) 0%, rgba(249,234,195,0.8) 19%,
                rgba(247,235,200,0.8) 29%, rgba(214,201,168,0.8) 46%, rgba(175,161,130,0.8) 59%, 
                rgba(146,131,102,0.8) 72%, rgba(136,121,93,0.8) 82%, rgba(129,114,87,0.8) 100%);
                position: relative;
                display: flex;
                text-align: center;
                border-radius: 45px;
                padding: 5% 0;
                font-family: 'Western';
                font-size: 40px;
                
                
                
                .form{
                    width: 100%;
                    display: block;
                    label{
                        position: relative;
                        display: block;
                        width: 100%;
                    }

                    .checkbox{
                        position: relative;
                        display: inline-block;
                        justify-content: center;
                        align-items: center;
                        height: 100px;
                        width: 10%;
                        /* The container */
                        .container {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            /* Hide the browser's default checkbox */
                            .container input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                                background-color: #eee;
                            
                            }
                            /* Create a custom checkbox */
                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 45px;
                                width: 45px;
                                background-color: #eee;
                                &:hover input ~ .checkmark {
                                background-color: #ccc;
                                }
                            }
                            
                            /* On mouse-over, add a grey background color */
                            .container
                            
                            /* When the checkbox is checked, add a blue background */
                            .container input:checked ~ .checkmark {
                                background-color: #2196F3;
                            }
                            
                            /* Create the checkmark/indicator (hidden when not checked) */
                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            
                            /* Show the checkmark when checked */
                            .container input:checked ~ .checkmark:after {
                                display: block;
                            }
                            
                            /* Style the checkmark/indicator */
                            .container .checkmark:after {
                                left: 9px;
                                top: 5px;
                                width: 5px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }

                        }
  
  
                    }
                        
                    
                    .form-control{
                        width: 50%;
                        height: 40px;
                        font-family: 'Helvetica';
                        border-radius: 10px;
                        border-width: 0.5px;
                        margin: 1% 0%;
                        padding-left: 1%;
                        
                        
                    }
                    .state{
                        width: 100%;
                        position: relative;
                        display: inline-block;
                    }
                    .checkbox{
                        height: 100px;
                    }
                        
                        
                        
                        
                }
                    
            }
        }

        
           
            
           
        }
    
    
    
    .linebottom{
        
        z-index: 2;
        margin: 0;
        position: absolute;
        padding: 0;
        margin-top: -0.5%;
        box-shadow: 0px -3px  5px $border;
        width: 100%;
    
    }
        
    footer{
        font-family: 'Helvetica';
        display: flex;
        justify-content: center;
        background-color: #29221C;
        color: white;
        padding: 30px 100px;
        .col-1{
            width: 33%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .footericon{
                display: flex;
                flex-direction: row;
                margin: 0;
                margin-bottom: 4%;
            }
            p{
                padding-left: 5%;
                margin-bottom: 15px;
                padding-top: 2%;
            }
        }
        .col-2{
            width: 33%;
            display: flex;
            align-items: center;
            position: relative;
            flex-direction: column;
            justify-content: center;
            
            .icon-wrapper{
                display: flex;
                width: 15%; 
                margin-top: 5%;
                justify-content: space-between;
                .icon{
                   
                    text-align: center;
                    display: inline-block;
                
                
                
                } 
            }
            
           
        }
        .col-3{
            width: 33%;
            display: flex;
            justify-content: center;
            form{
                
                width: 60%;
                text-align: center;
           
                h3{
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                }
                .name{
                    font-family: 'Helvetica';
                    font-size: 16px;
                    margin: 8px 0;
                    border-radius: 10px;
                    height: 25px;
                    padding-left: 5%;
                    width: 80%;
                }
                .mail{
                    font-family: 'Helvetica';
                    font-size: 16px;
                    margin: 8px 0;
                    border-radius: 10px;
                    height: 25px;
                    padding-left: 5%;
                    width: 80%;
                }
                .container{
                    display: flex;
                    flex-direction: column;
                    
                    align-items: center;
                
                    input[type="submit" i] {
                        width: 41%;
                        height: 44px;
                        background-image: url(../IMG/submit.svg);
                        border-radius: 35px;
                        border-color: transparent;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-size: 101%;
                        background-position-y: -2.5px;
                        background-position-x: -1px;
                        margin:0;
                        color: $title-color;
                        font-family: 'Buffalo';
                        font-size: 25px;
                        margin-top: 1%;
                        padding-bottom: 0%;
                    }
                    
                }
            
            }
    
        }
    }


    
}
