@font-face {
  font-family: "Buffalo";
  src: url(../FONT/BuffaloInline2Grunge.ttf);
}
@font-face {
  font-family: "Western";
  src: url(../FONT/WesternBangBang-Regular.ttf);
}
@font-face {
  font-family: "Helvetica";
  src: url(../FONT/Helvetica.ttf);
}
* {
  margin: 0;
}

body {
  z-index: 0;
  position: relative;
}
body #logo {
  text-align: center;
  background-color: #29221C;
  width: 100%;
  padding-bottom: 0.5%;
}
body .linetop {
  z-index: 2;
  margin: 0;
  position: absolute;
  padding: 0;
  margin-top: -0.5%;
  box-shadow: 0px -3px 5px #707070;
  width: 100%;
}
body .navbarimg {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: -0.5%;
  pointer-events: none;
}
body nav {
  position: relative;
  margin-top: -0.5%;
  height: 100px;
  margin-left: 0%;
  width: 100%;
  z-index: 2;
}
body nav ul {
  display: flex;
  justify-content: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-top: 1%;
  z-index: 3;
  width: 100%;
  position: relative;
}
body nav ul li {
  list-style-type: none;
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  text-shadow: #29221C 2px 1px;
  background-color: rgba(32, 23, 9, 0.5);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  border-radius: 25px;
  box-shadow: 0px 0px 7px #000000;
  width: 8%;
  height: 35px;
  text-align: center;
  z-index: 10;
}
body nav ul li a {
  text-decoration: none;
  color: #e07837;
  font-family: "Western", sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
  transition: 0.5s;
}
body nav ul li a:hover {
  display: block;
  color: #f2f2f2;
}
body nav ul ul {
  display: none;
  position: absolute;
  padding-top: 3%;
  background-color: rgba(32, 23, 9, 0.5);
  width: 13%;
  height: auto;
  border-radius: 30px;
  z-index: -1;
  text-align: start;
  margin: 0;
  left: 28.5%;
  margin-top: 0%;
  box-shadow: 0 2px 5px 4px #e07837;
}
body nav ul ul li {
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0%;
  margin-right: 0%;
  box-shadow: 0px 0px 0px;
  background-color: none;
  padding-bottom: 1%;
  z-index: 10;
}
body nav ul ul li:hover {
  color: #f2f2f2;
}
body nav ul ul li a {
  text-decoration: none;
  color: #e07837;
  font-size: 20px;
  font-family: "Helvetica";
  letter-spacing: 1.5px;
  font-weight: lighter;
  z-index: 2;
}
body nav ul .show:hover + .hide, body nav ul .hide:hover {
  display: block;
}
body main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../IMG/rustybackground.png);
  background-repeat: repeat-y;
  background-size: cover;
  z-index: -1;
  padding: 15% 0;
  margin-top: -5%;
}
body main .button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  z-index: 2;
  margin-top: -7.5%;
}
body main .button img {
  display: flex;
  justify-content: center;
  position: relative;
}
body main .button a {
  position: absolute;
  text-align: center;
  text-decoration: none;
  color: #e07837;
  font-family: "Western", sans-serif;
  font-size: 60px;
  padding: 0.7%;
}
body main .container-01 {
  width: 100%;
  height: auto;
  box-sizing: #707070;
  border-width: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}
body main .container-01 .wrapper {
  width: 80%;
  background: linear-gradient(180deg, rgba(214, 201, 168, 0.8) 0%, rgba(249, 234, 195, 0.8) 19%, rgba(247, 235, 200, 0.8) 29%, rgba(214, 201, 168, 0.8) 46%, rgba(175, 161, 130, 0.8) 59%, rgba(146, 131, 102, 0.8) 72%, rgba(136, 121, 93, 0.8) 82%, rgba(129, 114, 87, 0.8) 100%);
  position: relative;
  display: block;
  text-align: start;
  border-radius: 45px;
  padding: 5% 0;
  font-family: "Western";
  font-size: 40px;
}
body main .container-01 .wrapper .form-wrapper {
  width: 100%;
  text-align: center;
}
body main .container-01 .wrapper .form-wrapper .form {
  width: 100%;
  display: block;
}
body main .container-01 .wrapper .form-wrapper .form label {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: start;
}
body main .container-01 .wrapper .form-wrapper .form input {
  font-family: "Helvetica";
  font-style: oblique;
  font-size: 20px;
}
body main .container-01 .wrapper .form-wrapper .form .state {
  width: 51.1%;
  display: inline-flex;
  gap: 1%;
}
body main .container-01 .wrapper .form-wrapper .form .state .form-control {
  padding-left: 2%;
}
body main .container-01 .wrapper .form-wrapper #checkbox {
  position: relative;
  display: block;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  justify-content: center;
  padding-top: 2%;
  /*   input[type="checkbox"]:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
  } */
}
body main .container-01 .wrapper .form-wrapper #checkbox label {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: start;
  padding-top: 2%;
  padding-bottom: 2%;
}
body main .container-01 .wrapper .form-wrapper #checkbox .form-control {
  font-family: "Heltecita";
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  width: 60%;
  margin: 0;
  padding: 0;
  gap: 0.5em;
  left: 25%;
}
body main .container-01 .wrapper .form-wrapper #checkbox .form-control + .form-control {
  margin-top: 1em;
  justify-content: flex-start;
  width: 60%;
  left: 25%;
}
body main .container-01 .wrapper .form-wrapper #checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.05em solid currentColor;
  border-radius: 0.2em;
  transform: translateY(-0.075em);
  background-color: #f2f2f2;
  display: grid;
  place-content: center;
  text-align: start;
}
body main .container-01 .wrapper .form-wrapper #checkbox input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}
body main .container-01 .wrapper .form-wrapper #checkbox input[type=checkbox]:checked::before {
  transform: scale(1);
}
body main .container-01 .wrapper .form-wrapper #checkbox input[type=checkbox]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
body main .container-01 .wrapper .form-wrapper .form-control {
  width: 50%;
  height: 40px;
  font-family: "Helvetica";
  border-radius: 10px;
  border-width: 0.5px;
  margin: 1% 0%;
  padding-left: 1%;
}
body main .container-01 .wrapper .form-wrapper .state {
  width: 100%;
  position: relative;
  display: inline-block;
}
body main .container-01 .wrapper .form-wrapper .checkbox {
  height: 100px;
}
body main .submit-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  z-index: 2;
  margin-bottom: -2.5%;
}
body main .submit-wrapper img {
  display: flex;
  justify-content: center;
  position: relative;
}
body main .submit-wrapper a {
  position: absolute;
  text-align: center;
  text-decoration: none;
  color: #e07837;
  font-family: "Western", sans-serif;
  font-size: 60px;
  padding: 0.8%;
}
body .linebottom {
  z-index: 2;
  margin: 0;
  position: absolute;
  padding: 0;
  margin-top: -0.5%;
  box-shadow: 0px -3px 5px #707070;
  width: 100%;
}
body footer {
  font-family: "Helvetica";
  display: flex;
  justify-content: center;
  background-color: #29221C;
  color: white;
  padding: 3% 5%;
}
body footer .col-1 {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body footer .col-1 p {
  margin-top: 3%;
}
body footer .col-2 {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body footer .col-3 {
  width: 33%;
  display: flex;
  justify-content: center;
}
body footer .col-3 h3 {
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
}
body footer .col-3 .name {
  margin: 7% 0;
  border-radius: 25px;
  padding: 3%;
  width: 120%;
}
body footer .col-3 .mail {
  margin: 0;
  border-radius: 25px;
  padding: 3%;
  width: 120%;
}
body footer .col-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer .col-3 .container input[type=submit i] {
  width: 41%;
  height: 44px;
  background-image: url(../IMG/submit.svg);
  border-radius: 35px;
  border-color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: -2.5px;
  background-position-x: -1px;
  margin: 0;
  color: #e07837;
  font-family: "Buffalo";
  font-size: 25px;
  margin-top: 7%;
  padding-bottom: 0%;
}
body .end {
  display: flex;
  justify-content: center;
  background-color: #29221C;
  color: #e07837;
  padding: 1%;
  margin-top: -3%;
}/*# sourceMappingURL=judge.css.map */